$submit-button: rgba(225,139,101,0.78);
$input-button: cadetblue;
$primary-color: rgba(44, 79, 64,0.9);
$dark-color: #131f24;
$light-color: whitesmoke;

//Borders
$light-border: #d9ba29;

//Labels
$blue-label: rgb(0, 162, 255);